

*{
    box-sizing: border-box;
}


body {
    background-color: #8e8e8e;
    display: flex;
    height: 10vh;
    margin: 0;
    overflow: hidden;
}


.search {
    height: 50px;
    position: relative;
}


.search .input {
    background-color: white;
    font-size: 18px;
    height: 50px;
    padding: 15px;
    border: 0;
    width: 50px;
    transition: width 1s ease;
}
.search.active .input{
    width: 200px;
}
.search.active .btn
{
    transform: translateX(198px);
}


.btn:focus, input-focus {
    outline: none;
}


.search .btn {
    background-color: white;
    width: 50px;
    height: 50px;
    border: 0px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease;
}

.container {
    display: flex;
    width: 90vw;
}


.panel {
    margin: 10px;
    height: 80vh;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    flex: 1;
    position: relative;
    transition: all 1s ease-in;


}


.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}


.panel.active h3 {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}


.panel.active {
    flex: 10;
}


@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
}

.panel:nth-of-type(4),
.panel:nth-of-type(5) {
    display: none;
}